*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background: #007bff;
}

::selection{
  color:#fff;
  background: #007bff;
}

.start_btn,
.quiz-page,
.result_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.quiz-page.activeQuiz,
.result_box.activeResult{
  opacity: 1;
  z-index; 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}