*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background: #007bff;
}

::selection{
  color:#fff;
  background: #007bff;
}

.start-btn,
.quiz-page,
.result_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.quiz-page.activeQuiz,
.result_box.activeResult{
  opacity: 1;
  z-index; 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.start-btn {
  font-size: 100px;
  font-weight: 500;
  color: #007bff;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;

}
