*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background: #007bff;
}

.buttons{
  display: none;
}
#quiz-page {
  display: none;
}

#quiz-rules{
  display: none;
}